<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(17,19,50,1) 27%, rgba(24,27,76,1) 46%, rgba(25,28,79,1) 48%, rgba(26,29,82,1) 50%, rgba(25,28,79,1) 52%, rgba(25,28,77,1) 53%, rgba(19,21,54,1) 68%, rgba(25,22,28,1) 100%);
        }
    </style>
</head>
<body>
<section class="vh-1000 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-5">Please Register First!</p>

<!--                            <div th:if="${param.success}">-->
<!--                                <div class="alert alert-info">-->
<!--                                    You have successfully registered our app!-->
<!--                                </div>-->
<!--                            </div>-->

                            <form method="post" th:action="@{/register/save}" th:object="${user}">
                            <div data-mdb-input-init class="form-outline mb-4">
<!--                                <label class="form-label" for="typeFName">First Name</label>-->
                                <input type="text" th:field="*{firstName}" name="first_name" id="typeFName" class="form-control  form-control-lg" placeholder="First name" />
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
<!--                                <label class="form-label" for="typeLName">Last Name</label>-->
                                <input type="text" th:field="*{lastName}" name="last_name" id="typeLName" class="form-control form-control-lg" placeholder="Last Name" />
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
<!--                                <label class="form-label" for="typeEmailX">Email</label>-->
                                <input type="email" th:field="*{email}" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" />
                            </div>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>